<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços - Confeitaria Delícias</title>
    <link rel="stylesheet" href="../../public/assets/global.css">
    <link rel="stylesheet" href="../../public/assets/servicos.css">
    <link rel="stylesheet" href="../../public/assets/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1><span>Confeitaria</span> Delícias</h1>
        <nav>            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/servicos">Serviços</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <div class="nav-icon-container">
            <div>
                <a href="/carrinho"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
            <div>
                <a href="/conta"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
            </div>
            <div>
                <i class="fa fa-bars menu-button" aria-hidden="true"></i>
            </div>            
        </div>
    </header>

    <section class="servicos">
        <h2>Nossos Serviços</h2>
        <div class="servico">
            <div class="descricao">
                <h3>Cobertura de Eventos</h3>
                <p>Nossa equipe especializada oferece serviços de cobertura para uma variedade
                 de eventos, desde festas de aniversário e casamentos até eventos corporativos. 
                 Trabalhamos em estreita colaboração com nossos clientes para criar sobremesas 
                 personalizadas que complementam perfeitamente o tema e a atmosfera do evento. 
                 Desde bolos decorativos até sobremesas finas, estamos aqui para tornar seu 
                 evento verdadeiramente memorável.</p>
            </div>
            <div class="aderir">
                <img src="../../public/img/cobertura-eventos.jpg" alt=""><br>
                <button>Aderir</button>
            </div>
        </div>
        <div id="servico" class="servico">
            <div class="descricao">
                <h3>Serviço de Assinatura</h3>
                <p>Oferecemos um serviço de assinatura mensal para os amantes de doces que 
                    desejam receber uma variedade de nossos produtos regularmente. Os 
                    assinantes recebem uma seleção cuidadosamente escolhida de nossos bolos, 
                    doces e outras delícias diretamente em suas casas ou locais de trabalho, 
                    proporcionando conveniência e prazer contínuo.</p>
            </div>
            <div class="aderir">
                <img src="../../public/img/assinatura.jpg" alt=""><br>
                <button>Aderir</button>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Confeitaria Delícias</p>
    </footer>
    <script src="../../controllers/global.js"></script>
    <script src="../../controllers/servicesControllers.js"></script>
</body>
</html>
