<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - Confeitaria Delícias</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../../public/assets/global.css">
    <link rel="stylesheet" href="../../public/assets/sobre.css">
    <link rel="stylesheet" href="../../public/assets/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1><span>Confeitaria</span> Delícias</h1>
        <nav>            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/servicos">Serviços</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <div class="nav-icon-container">
            <div>
                <a href="/carrinho"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
            <div>
                <a href="/conta"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
            </div>
            <div>
                <i class="fa fa-bars menu-button" aria-hidden="true"></i>
            </div>            
        </div>
    </header>

    <section class="sobre">
        <h2>Sobre Nós</h2>
        <p>A Confeitaria Delícias é conhecida por seus bolos e doces irresistíveis, feitos com ingredientes frescos e amor. Nossa equipe de confeiteiros talentosos trabalha duro para criar delícias que encantam os paladares de nossos clientes.</p>
        <p>Nosso compromisso com a qualidade e a satisfação do cliente é o que nos impulsiona a continuar inovando e criando novas receitas que agradam a todos os gostos.</p>
        <p>Estamos orgulhosos de ser uma parte importante das celebrações e momentos especiais de nossos clientes, proporcionando bolos e doces que tornam cada ocasião ainda mais memorável.</p>
    </section>

    <footer>
        <p>&copy; 2024 Confeitaria Delícias</p>
    </footer>

    <script src="../../controllers/global.js"></script>
</body>
</html>
