<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Confeitaria Delícias</title>
    <link rel="stylesheet" href="../../public/assets/global.css">
    <link rel="stylesheet" href="../../public/assets/login.css">
    <link rel="stylesheet" href="../../public/assets/font-awesome/css/font-awesome.min.css">
</head>
<body>

    <section class="login">
        <div class="card-shadow">
        <h2>Login</h2>
        <form id="log">
            <div class="form-group">
                <input  placeholder="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <input placeholder="Senha" type="password" id="senha" name="senha" required>
            </div>
            <span><a href="/cadastro">Não Possui uma conta? Cadastre-se</a></span>

            <button class="btn" type="submit">Entrar</button>
        </form>
        </div>
    </section>


    <script src="../../controllers/global.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('log').addEventListener('submit', function(e) {
                e.preventDefault();
                const email = document.getElementById('email').value;
                const senha = document.getElementById('senha').value;

                fetch(`/login-user/${email}/${senha}`)
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/';
                        } else {
                            // Trate o erro se necessário
                            alert('Erro ao logar. Tente novamente.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Erro ao logar. Tente novamente.');
                    });
            })
        })
    </script>
</body>
</html>
