<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Confeitaria Delícias</title>
    <link rel="stylesheet" href="../../public/assets/global.css">
    <link rel="stylesheet" href="../../public/assets/produtos.css">
    <link rel="stylesheet" href="../../public/assets/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1><span>Confeitaria</span> Delícias</h1>
        <nav>            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/servicos">Serviços</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <div class="nav-icon-container">
            <div>
                <a href="/carrinho"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
            <div>
                <a href="/conta"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
            </div>
            <div>
                <i class="fa fa-bars menu-button" aria-hidden="true"></i>
            </div>            
        </div>
    </header>

    <section class="produtos">
        <h2>Nossos Produtos</h2>       
        <div class="prod" id="data-cotainer">
            <div class="produto">
                <img src="../../public/img/products/cupcake_cafe.jpg" alt="Bolo de Chocolate">
                <h3>Cupcake de Café</h3>
                <p><strong>Preço:</strong> 500 kz</p>
                <button class="btn">Adicionar ao Carrinho</button>
            </div>
            <div class="produto">
                <img src="../../public/img/products/cupcake_de_chocolate.jpeg" alt="Bolo de Morango">
                <h3>Cupcake de Chocolate</h3>
                <p><strong>Preço:</strong> 500 kz</p>
                <button class="btn">Adicionar ao Carrinho</button>
            </div>
            <div class="produto">
                <img src="../../public/img/products/Bolo-de-morango.jpg" alt="Bolo de Chocolate">
                <h3>Bolo de Morango</h3>
                <p><strong>Preço:</strong> 15 000 kz</p>
                <button class="btn">Adicionar ao Carrinho</button>
            </div>
            <div class="produto">
                <img src="../../public/img/products/bolo-de-chocolate.jpg" alt="Bolo de Morango">
                <h3>Bolo de Chocolate</h3>
                <p><strong>Preço:</strong> 15 000 kz</p>
                <button class="btn">Adicionar ao Carrinho</button>
            </div>
            <div class="produto">
                <img src="../../public/img/products/bolo_de_frutas.jpeg" alt="Bolo de Chocolate">
                <h3>Bolo de Frutas</h3>
                <p><strong>Preço:</strong> 20 000 kz</p>
                <button class="btn">Adicionar ao Carrinho</button>
            </div>
            <div class="produto">
                <img src="../../public/img/products/torta_maca.jpeg" alt="Bolo de Morango">
                <h3>Torta de Maçã</h3>
                <p><strong>Preço:</strong> 15 000 kz</p>
                <button class="btn">Adicionar ao Carrinho</button>
            </div>
            <div class="produto">
                <img src="../../public/img/products/bolo-de-aveia.jpeg" alt="Bolo de Chocolate">
                <h3>Bolo de Aveia</h3>
                <p><strong>Preço:</strong> 20 000 kz</p>
                <button class="btn">Adicionar ao Carrinho</button>
            </div>
            <div class="produto">
                <img src="../../public/img/products/bolo-de-chocolate-com-morango.avif" alt="Bolo de Morango">
                <h3>Bolo de Chocolate com Morango</h3>
                <p><strong>Preço:</strong> 20 000 kz</p>
                <button class="btn">Adicionar ao Carrinho</button>
            </div>            
        </div>
    </section>

    
    

    <footer>
        <p>&copy; 2024 Confeitaria Delícias</p>
    </footer>
    <script src="../../controllers/global.js"></script>
    <script src="../../controllers/produtosControllers.js"></script>
    

</body>
</html>
